@{
    Client c1 = ViewBag.c1;

    Layout = "~/Views/Shared/_ClientAdminLayout.cshtml";
}

<header class="top-header">
    <h1>لوحة القيادة</h1>
    <div class="header-actions">
        <i class="fas fa-bell action-icon"></i>
        <i class="fas fa-envelope action-icon"></i>
        <i class="fas fa-search action-icon"></i>
    </div>
</header>

<section class="dashboard-grid">
    <div class="card occupancy-card">
        <h2>اخر الحجوزات</h2>
        <div class="data-display">
            <div class="occupancy-chart">50% جاهز</div>
            <p>....</p>
        </div>
    </div>

    <div class="card bookings-card">
        <h2>الحجوزات القادمة (اليوم / الغد)</h2>
        <ul>
            <li><i class="fas fa-user"></i>فندق الهلال</li>
            <li><i class="fas fa-user"></i>فندق ريجنسي عمان</li>
        </ul>
        <a href="#" class="view-all-link">مشاهدة الكل</a>
    </div>

    <div class="card revenue-card full-width">
        <h2>AI Recomendations</h2>
        <div class="revenue-value">....</div>
        <div class="chart-placeholder">[مخطط بياني خطي]</div>
    </div>

    <div class="card activity-card">
        <h2>النشاط الأخير</h2>
        <ul>
            <li><i class="fas fa-check-circle"></i> تم تأكيد حجز الغرفة 222.</li>
            <li><i class="fas fa-pen"></i>تعديل كلمة المرور</li>
        </ul>
    </div>

    <div class="card activity-card">
        <h2>الغرف قيد الصيانة</h2>
        <ul>
            <li><i class="fas fa-tools"></i> الغرفة 105 (سباكة).</li>
            <li><i class="fas fa-tools"></i> الغرفة 412 (طلاء).</li>
        </ul>
    </div>

</section>
