@{
    ViewData["Title"] = "Home Page";
    Student st11 = ViewBag.st1;

}





<div class="text-center">
    <h1>@ViewBag.Response</h1>
    <h1 class="bg-info">We Have @ViewBag.t Cities</h1>
    <h1 class="display-4">Welcome <b>@st11.Name</b></h1>
    <h2>ID: @st11.Id</h2>
   
    <img src="~/@st11.Sora" width="400" height="400" class="rounded-circle" />
    
    
    

   
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
